*00_run_pipeline*
*.js
*.css
*.bam
*.bai
*star_salmon
*.bigWig
*.gz*
*.summary
*.json
*.sf
.Rproj.user
.Rhistory
.Ruserdata
*GENOME*
.Rproj.user
.Rhistory
.Ruserdata
*fastq*
.nextflow*
log/*
work/*
*.Rproj
*.gtf
*.pdf
*.rda
*.tbl
*.feather
*.log
*.err
*.out
*cache*
*.cnt
*.bam
*.bai
*.zip
*work*
*.bedGraph
*qc*
*align*
*.svg
*.bdg
*bin*
*.txt
*.gtf
*fa
*.bed
*.gz
ATACSeqData/key_mouse_atac_data.Rdata
# Ignore R data files
*.RData
*.rds

# Ignore temporary files
.Rhistory
.Rproj.user/
.DS_Store

# Ignore output files
*.html
*.md
*.pdf

knit_me_B_files
knit_me_C_files

txdb_gencode_vM25.sqlite